<html>
<head>
<meta charset="utf-8">
<title>HTML Frames Example - Top Nav</title>
<style type="text/css">
body {
	font-family:verdana,arial,sans-serif;
	font-size:80pt;
	margin:10px;
	background-color:#898a8a00;
	}
</style>
</head>
<body>

	
	<marquee behavior="scroll" direction="left"  scrollamount="30">Há muito tempo, numa aldeia junto ao mar, vivia um pescador chamado João. Ele acordava todas as manhãs antes do sol nascer, preparava o seu barco e lançava-se ao mar em busca de peixes para sustentar a sua família. João tinha três filhos pequenos e uma esposa amorosa chamada Ana.

		Numa noite de lua cheia, enquanto João estava no mar, uma tempestade surgiu do nada. As ondas gigantes batiam furiosamente contra o barco, e o vento soprava tão forte que parecia querer arrastá-lo para o fundo do oceano. João lutava com todas as suas forças para manter o barco à tona, mas a tempestade era implacável.
		
		Enquanto isso, em casa, Ana aguardava ansiosamente o regresso do marido. Ela sabia que as tempestades no mar podiam ser perigosas, e o coração dela estava cheio de medo pela segurança de João. Com os olhos fixos no horizonte, ela rezava para que ele retornasse são e salvo.
		
		Depois de uma longa e árdua batalha contra as ondas, João finalmente avistou a costa. Com as últimas forças que lhe restavam, ele guiou o barco até à praia e correu para os braços da sua esposa. Ana chorou de alívio ao ver o marido são e salvo.
		
		Desde esse dia, João decidiu que nunca mais iria arriscar a sua vida no mar durante uma tempestade. Ele continuou a pescar, mas sempre com precaução e respeito pelo poder do oceano. E juntos, João e Ana, enfrentaram todas as tempestades que a vida lhes trouxe, sempre unidos pelo amor e pela coragem.</marquee>
	
</body>
</html>